/* Global Styles */
/* html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fa;
    color: #333;
} */
/* Cards for Plans */
/* .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
    background-color: #fff;
}

.card-footer {
    padding: 10px;
    background-color: #f1f1f1;
    text-align: right;
}

.card-footer button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card-footer button:hover {
    background-color: #218838;
} */

/* Buttons */
/* .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
} */

/* Form Styling */
/* form {
    margin: 30px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid green;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
} */

/* .form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
} */

#logout {
    cursor: pointer;
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header, footer {
        font-size: 18px;
    }

    .card-header, .card-body, .card-footer {
        padding: 15px;
    }

    .btn-primary, form button {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-nav .nav-link {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .navbar {
        padding: 10px;
    }

    .navbar-brand {
        font-size: 24px;
    }
}
